In [12]:
import pandas as pd
import numpy as np

Location = './total_merge_data.csv'
data = pd.read_csv(Location,index_col=0)
data

,대출일반,대출주택,졸업자수,사교육비,인구,자가용,직장가입자,지역가입자,사회단체참여율,수출,...,사망자수,신혼부부수(합계),초혼부부 평균 출산자녀수,맞벌이 부부 수,주택소유 신혼부부 수,실업률,1인가구 비율,출생아수(명),혼인건수(건),주택매매가격동향
2000,NaN,NaN,NaN,NaN,47008111.0,NaN,NaN,NaN,NaN,172267511.0,...,248740.0,NaN,NaN,NaN,NaN,4.4,NaN,NaN,NaN,NaN
2001,NaN,NaN,NaN,NaN,47370164.0,NaN,NaN,NaN,NaN,150439144.0,...,243813.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
2002,NaN,NaN,NaN,NaN,47644736.0,NaN,NaN,NaN,NaN,162470528.0,...,247524.0,NaN,NaN,NaN,NaN,3.3,NaN,NaN,NaN,NaN
2003,NaN,NaN,NaN,NaN,47892330.0,NaN,NaN,NaN,44.8,193817443.0,...,246463.0,NaN,NaN,NaN,NaN,3.6,NaN,NaN,NaN,NaN
2004,NaN,NaN,NaN,NaN,48082519.0,NaN,NaN,NaN,NaN,253844672.0,...,246220.0,NaN,NaN,NaN,NaN,3.7,NaN,NaN,NaN,NaN
2005,NaN,NaN,NaN,NaN,48184561.0,NaN,NaN,NaN,NaN,284418743.0,...,245874.0,NaN,NaN,NaN,NaN,3.7,NaN,NaN,NaN,NaN
2006,NaN,NaN,NaN,NaN,48438292.0,NaN,NaN,NaN,38.8,325464848.0,...,244162.0,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN
2007,NaN,NaN,NaN,200400.0,48683638.0,NaN,NaN,NaN,NaN,371489086.0,...,246482.0,NaN,NaN,NaN,NaN,3.2,NaN,NaN,NaN,NaN
2008,NaN,NaN,NaN,209095.0,49054708.0,NaN,NaN,NaN,NaN,422007328.0,...,246113.0,NaN,NaN,NaN,NaN,3.2,NaN,NaN,NaN,NaN
2009,NaN,NaN,NaN,216259.0,49307835.0,NaN,75391264.0,27525025.0,39.8,363533561.0,...,246942.0,NaN,NaN,NaN,NaN,3.6,NaN,NaN,NaN,NaN
2010,NaN,NaN,NaN,208718.0,49554112.0,NaN,88694835.0,30519406.0,NaN,466383762.0,...,255405.0,NaN,NaN,NaN,NaN,3.7,NaN,470171.0,326104.0,1.9
2011,8.75,13.50,558932.0,201266.0,49936638.0,NaN,125900203.0,40538413.0,46.6,555213656.0,...,257396.0,NaN,NaN,NaN,NaN,3.4,NaN,471265.0,329087.0,6.9
2012,4.75,3.75,566324.0,190395.0,50199853.0,NaN,160836393.0,49573644.0,NaN,547869792.0,...,267221.0,NaN,NaN,NaN,NaN,3.2,NaN,484550.0,327073.0,0.0
2013,3.00,6.50,555142.0,185960.0,50428893.0,NaN,184333563.0,53303425.0,50.1,559632434.0,...,266257.0,NaN,NaN,NaN,NaN,3.1,NaN,436455.0,322807.0,0.3
2014,7.00,23.50,557234.0,182297.0,50746659.0,NaN,183622983.0,51096341.0,NaN,572664607.0,...,267692.0,NaN,NaN,NaN,NaN,3.5,NaN,435435.0,305507.0,1.7
2015,6.75,30.25,576023.0,178346.0,51014947.0,19622569.0,181165551.0,48949590.0,48.9,526756503.0,...,275895.0,1471647.0,0.82,595850.0,640709.0,3.6,27.4,438420.0,302828.0,3.5
2016,3.50,9.75,580695.0,180606.0,51217803.0,20345309.0,169794557.0,45567250.0,NaN,495425940.0,...,280827.0,1436948.0,0.80,603281.0,633642.0,3.7,28.1,406243.0,281635.0,0.7
2017,13.50,5.25,574009.0,186703.0,51361911.0,20984258.0,NaN,NaN,49.7,573694421.0,...,285534.0,1379766.0,0.78,585957.0,616621.0,3.7,28.7,357771.0,264455.0,1.5
2018,3.50,-4.25,NaN,194852.0,51606633.0,21539573.0,NaN,NaN,NaN,604859657.0,...,298820.0,1322406.0,0.74,594409.0,594721.0,3.8,29.2,326822.0,257622.0,1.1
2019,7.50,-2.25,NaN,NaN,NaN,21908362.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data.iloc[:,:10]

,대출일반,대출주택,졸업자수,사교육비,인구,자가용,직장가입자,지역가입자,사회단체참여율,수출
2000,NaN,NaN,NaN,NaN,47008111.0,NaN,NaN,NaN,NaN,172267511.0
2001,NaN,NaN,NaN,NaN,47370164.0,NaN,NaN,NaN,NaN,150439144.0
2002,NaN,NaN,NaN,NaN,47644736.0,NaN,NaN,NaN,NaN,162470528.0
2003,NaN,NaN,NaN,NaN,47892330.0,NaN,NaN,NaN,44.8,193817443.0
2004,NaN,NaN,NaN,NaN,48082519.0,NaN,NaN,NaN,NaN,253844672.0
2005,NaN,NaN,NaN,NaN,48184561.0,NaN,NaN,NaN,NaN,284418743.0
2006,NaN,NaN,NaN,NaN,48438292.0,NaN,NaN,NaN,38.8,325464848.0
2007,NaN,NaN,NaN,200400.0,48683638.0,NaN,NaN,NaN,NaN,371489086.0
2008,NaN,NaN,NaN,209095.0,49054708.0,NaN,NaN,NaN,NaN,422007328.0
2009,NaN,NaN,NaN,216259.0,49307835.0,NaN,75391264.0,27525025.0,39.8,363533561.0
2010,NaN,NaN,NaN,208718.0,49554112.0,NaN,88694835.0,30519406.0,NaN,466383762.0
2011,8.75,13.50,558932.0,201266.0,49936638.0,NaN,125900203.0,40538413.0,46.6,555213656.0
2012,4.75,3.75,566324.0,190395.0,50199853.0,NaN,160836393.0,49573644.0,NaN,547869792.0
2013,3.00,6.50,555142.0,185960.0,50428893.0,NaN,184333563.0,53303425.0,50.1,559632434.0
2014,7.00,23.50,557234.0,182297.0,50746659.0,NaN,183622983.0,51096341.0,NaN,572664607.0
2015,6.75,30.25,576023.0,178346.0,51014947.0,19622569.0,181165551.0,48949590.0,48.9,526756503.0
2016,3.50,9.75,580695.0,180606.0,51217803.0,20345309.0,169794557.0,45567250.0,NaN,495425940.0
2017,13.50,5.25,574009.0,186703.0,51361911.0,20984258.0,NaN,NaN,49.7,573694421.0
2018,3.50,-4.25,NaN,194852.0,51606633.0,21539573.0,NaN,NaN,NaN,604859657.0
2019,7.50,-2.25,NaN,NaN,NaN,21908362.0,NaN,NaN,NaN,NaN

In [20]:
data.iloc[:,10:21]

,수입,실질국내총생산(GDP),1인당주거면적,고등교육이수율,원자료,e러닝시장규모,문화여가지출률,지니계수,다문화출생아수,전국 이혼건수,TV (%)
2000,160481015.0,NaN,NaN,23.9,26.80,NaN,NaN,NaN,NaN,119455.0,NaN
2001,141097821.0,947394.8,NaN,24.2,19.84,NaN,NaN,NaN,NaN,134608.0,NaN
2002,152126153.0,1020582.4,NaN,26.0,31.20,NaN,NaN,NaN,NaN,144910.0,NaN
2003,178826657.0,1052703.1,NaN,29.5,32.52,1077041.0,NaN,NaN,NaN,166617.0,NaN
2004,224462687.0,1107416.2,NaN,30.5,43.45,1298484.0,NaN,NaN,NaN,138932.0,NaN
2005,261238264.0,1155129.7,NaN,31.6,61.13,1470817.0,NaN,NaN,NaN,128035.0,NaN
2006,309382632.0,1215939.5,26.2,32.9,61.05,1617797.0,4.16,NaN,NaN,124524.0,NaN
2007,356845733.0,1286458.5,NaN,34.6,96.00,1727057.0,4.13,NaN,NaN,124072.0,NaN
2008,435274737.0,1325219.3,27.8,36.6,44.60,1870475.0,4.00,NaN,13443.0,116535.0,NaN
2009,323084521.0,1335724.3,NaN,38.7,79.36,2091033.0,4.04,NaN,19024.0,123999.0,83.9
2010,425212160.0,1426618.0,28.5,39.7,91.38,2245833.0,4.25,NaN,20312.0,116858.0,82.6
2011,524413090.0,1479198.4,NaN,40.4,98.83,2451364.0,4.13,0.418,22014.0,114284.0,81.6
2012,519584473.0,1514736.6,31.7,41.7,92.38,2747766.0,4.20,0.411,22908.0,114316.0,81.4
2013,515585515.0,1562673.6,NaN,43.1,98.55,2947083.0,4.28,0.401,21290.0,115292.0,79.4
2014,525514506.0,1612717.5,33.5,44.6,53.22,3214167.0,4.35,0.397,21174.0,115510.0,78.4
2015,436498973.0,1658020.4,NaN,45.5,37.04,3485119.0,4.44,0.396,19729.0,109153.0,76.2
2016,406192887.0,1706880.3,33.2,46.9,43.47,3487574.0,4.53,0.402,19431.0,107328.0,75.4
2017,478478296.0,1760811.5,31.2,47.7,50.85,3699183.0,5.27,0.406,18440.0,106032.0,77.2
2018,535202428.0,1807735.9,31.7,49.0,64.90,3845009.0,5.76,0.402,18079.0,108684.0,76.6
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data.iloc[:,21:30]

,라디오 (%),신문 (%),인터넷 (%),스마트폰 (%),유소년부양비,노년부양비,노령화지수,사망자수,신혼부부수(합계)
2000,NaN,NaN,NaN,NaN,29.4,10.1,34.3,248740.0,NaN
2001,NaN,NaN,NaN,NaN,29.0,10.5,36.2,243813.0,NaN
2002,NaN,NaN,NaN,NaN,28.5,11.0,38.6,247524.0,NaN
2003,NaN,NaN,NaN,NaN,27.9,11.5,41.1,246463.0,NaN
2004,NaN,NaN,NaN,NaN,27.3,12.0,43.8,246220.0,NaN
2005,NaN,NaN,NaN,NaN,26.6,12.5,46.8,245874.0,NaN
2006,NaN,NaN,NaN,NaN,25.7,13.0,50.4,244162.0,NaN
2007,NaN,NaN,NaN,NaN,24.8,13.5,54.6,246482.0,NaN
2008,NaN,NaN,NaN,NaN,23.8,14.0,58.8,246113.0,NaN
2009,20.2,22.2,46.2,-,22.9,14.4,62.9,246942.0,NaN
2010,16.2,18.5,45.2,-,22.0,14.8,67.2,255405.0,NaN
2011,14.8,16.5,44.4,-,21.2,15.0,71.0,257396.0,NaN
2012,12.5,12.2,-,52.6,20.6,15.6,76.1,267221.0,NaN
2013,11.8,10.0,-,65.8,20.0,16.3,81.5,266257.0,NaN
2014,9.5,8.2,-,70.8,19.4,16.8,87.0,267692.0,NaN
2015,8.9,7.1,-,73.7,18.8,17.5,93.0,275895.0,1471647.0
2016,10.1,6.6,-,81,18.3,18.0,98.4,280827.0,1436948.0
2017,10.6,5.2,-,81.4,17.9,18.8,105.1,285534.0,1379766.0
2018,10.1,4.2,-,84.6,17.5,19.6,111.9,298820.0,1322406.0
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
data.iloc[:,30:]

,초혼부부 평균 출산자녀수,맞벌이 부부 수,주택소유 신혼부부 수,실업률,1인가구 비율,출생아수(명),혼인건수(건),주택매매가격동향
2000,NaN,NaN,NaN,4.4,NaN,NaN,NaN,NaN
2001,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
2002,NaN,NaN,NaN,3.3,NaN,NaN,NaN,NaN
2003,NaN,NaN,NaN,3.6,NaN,NaN,NaN,NaN
2004,NaN,NaN,NaN,3.7,NaN,NaN,NaN,NaN
2005,NaN,NaN,NaN,3.7,NaN,NaN,NaN,NaN
2006,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN
2007,NaN,NaN,NaN,3.2,NaN,NaN,NaN,NaN
2008,NaN,NaN,NaN,3.2,NaN,NaN,NaN,NaN
2009,NaN,NaN,NaN,3.6,NaN,NaN,NaN,NaN
2010,NaN,NaN,NaN,3.7,NaN,470171.0,326104.0,1.9
2011,NaN,NaN,NaN,3.4,NaN,471265.0,329087.0,6.9
2012,NaN,NaN,NaN,3.2,NaN,484550.0,327073.0,0.0
2013,NaN,NaN,NaN,3.1,NaN,436455.0,322807.0,0.3
2014,NaN,NaN,NaN,3.5,NaN,435435.0,305507.0,1.7
2015,0.82,595850.0,640709.0,3.6,27.4,438420.0,302828.0,3.5
2016,0.80,603281.0,633642.0,3.7,28.1,406243.0,281635.0,0.7
2017,0.78,585957.0,616621.0,3.7,28.7,357771.0,264455.0,1.5
2018,0.74,594409.0,594721.0,3.8,29.2,326822.0,257622.0,1.1
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data.isna().sum()

대출일반             11
대출주택             11
졸업자수             13
사교육비              8
인구                1
자가용              15
직장가입자            12
지역가입자            12
사회단체참여율          13
수출                1
수입                1
실질국내총생산(GDP)      2
1인당주거면적          12
고등교육이수율           1
원자료               1
e러닝시장규모           4
문화여가지출률           7
지니계수             12
다문화출생아수           9
전국 이혼건수           1
TV (%)           10
라디오 (%)          10
신문 (%)           10
인터넷 (%)          10
스마트폰 (%)         10
유소년부양비            1
노년부양비             1
노령화지수             1
사망자수              1
신혼부부수(합계)        16
초혼부부 평균 출산자녀수    16
맞벌이 부부 수         16
주택소유 신혼부부 수      16
실업률               1
1인가구 비율          16
출생아수(명)          11
혼인건수(건)          11
주택매매가격동향         11
dtype: int64

In [31]:
data2 = pd.read_csv('출산율.csv', index_col=0)
data2.columns

Index(['출산율'], dtype='object')

In [32]:
frame = [data, data2]
result=pd.concat(frame, axis=1)
result

,대출일반,대출주택,졸업자수,사교육비,인구,자가용,직장가입자,지역가입자,사회단체참여율,수출,...,신혼부부수(합계),초혼부부 평균 출산자녀수,맞벌이 부부 수,주택소유 신혼부부 수,실업률,1인가구 비율,출생아수(명),혼인건수(건),주택매매가격동향,출산율
2000,NaN,NaN,NaN,NaN,47008111.0,NaN,NaN,NaN,NaN,172267511.0,...,NaN,NaN,NaN,NaN,4.4,NaN,NaN,NaN,NaN,1.480
2001,NaN,NaN,NaN,NaN,47370164.0,NaN,NaN,NaN,NaN,150439144.0,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,1.309
2002,NaN,NaN,NaN,NaN,47644736.0,NaN,NaN,NaN,NaN,162470528.0,...,NaN,NaN,NaN,NaN,3.3,NaN,NaN,NaN,NaN,1.178
2003,NaN,NaN,NaN,NaN,47892330.0,NaN,NaN,NaN,44.8,193817443.0,...,NaN,NaN,NaN,NaN,3.6,NaN,NaN,NaN,NaN,1.191
2004,NaN,NaN,NaN,NaN,48082519.0,NaN,NaN,NaN,NaN,253844672.0,...,NaN,NaN,NaN,NaN,3.7,NaN,NaN,NaN,NaN,1.164
2005,NaN,NaN,NaN,NaN,48184561.0,NaN,NaN,NaN,NaN,284418743.0,...,NaN,NaN,NaN,NaN,3.7,NaN,NaN,NaN,NaN,1.085
2006,NaN,NaN,NaN,NaN,48438292.0,NaN,NaN,NaN,38.8,325464848.0,...,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,1.132
2007,NaN,NaN,NaN,200400.0,48683638.0,NaN,NaN,NaN,NaN,371489086.0,...,NaN,NaN,NaN,NaN,3.2,NaN,NaN,NaN,NaN,1.259
2008,NaN,NaN,NaN,209095.0,49054708.0,NaN,NaN,NaN,NaN,422007328.0,...,NaN,NaN,NaN,NaN,3.2,NaN,NaN,NaN,NaN,1.192
2009,NaN,NaN,NaN,216259.0,49307835.0,NaN,75391264.0,27525025.0,39.8,363533561.0,...,NaN,NaN,NaN,NaN,3.6,NaN,NaN,NaN,NaN,1.149
2010,NaN,NaN,NaN,208718.0,49554112.0,NaN,88694835.0,30519406.0,NaN,466383762.0,...,NaN,NaN,NaN,NaN,3.7,NaN,470171.0,326104.0,1.9,1.226
2011,8.75,13.50,558932.0,201266.0,49936638.0,NaN,125900203.0,40538413.0,46.6,555213656.0,...,NaN,NaN,NaN,NaN,3.4,NaN,471265.0,329087.0,6.9,1.244
2012,4.75,3.75,566324.0,190395.0,50199853.0,NaN,160836393.0,49573644.0,NaN,547869792.0,...,NaN,NaN,NaN,NaN,3.2,NaN,484550.0,327073.0,0.0,1.297
2013,3.00,6.50,555142.0,185960.0,50428893.0,NaN,184333563.0,53303425.0,50.1,559632434.0,...,NaN,NaN,NaN,NaN,3.1,NaN,436455.0,322807.0,0.3,1.187
2014,7.00,23.50,557234.0,182297.0,50746659.0,NaN,183622983.0,51096341.0,NaN,572664607.0,...,NaN,NaN,NaN,NaN,3.5,NaN,435435.0,305507.0,1.7,1.205
2015,6.75,30.25,576023.0,178346.0,51014947.0,19622569.0,181165551.0,48949590.0,48.9,526756503.0,...,1471647.0,0.82,595850.0,640709.0,3.6,27.4,438420.0,302828.0,3.5,1.239
2016,3.50,9.75,580695.0,180606.0,51217803.0,20345309.0,169794557.0,45567250.0,NaN,495425940.0,...,1436948.0,0.80,603281.0,633642.0,3.7,28.1,406243.0,281635.0,0.7,1.172
2017,13.50,5.25,574009.0,186703.0,51361911.0,20984258.0,NaN,NaN,49.7,573694421.0,...,1379766.0,0.78,585957.0,616621.0,3.7,28.7,357771.0,264455.0,1.5,1.052
2018,3.50,-4.25,NaN,194852.0,51606633.0,21539573.0,NaN,NaN,NaN,604859657.0,...,1322406.0,0.74,594409.0,594721.0,3.8,29.2,326822.0,257622.0,1.1,0.977
2019,7.50,-2.25,NaN,NaN,NaN,21908362.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
result.to_csv('data.csv', index=True)